<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="battlegame.gumble.persistence.GachaHeroMapper" >
  <resultMap id="BaseResultMap" type="battlegame.gumble.entity.GachaHero" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gacha_id" property="gachaId" jdbcType="INTEGER" />
    <result column="hero_id" property="heroId" jdbcType="INTEGER" />
    <result column="probability" property="probability" jdbcType="FLOAT" />
  </resultMap>
 <select id="selectGachaHero" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id,gacha_id,hero_id,probability from gacha_hero 
    where gacha_id = #{gachaId, jdbcType=INTEGER}
  </select>
</mapper>